body{
    margin: 0;
    padding: 0;
}
.box{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    width: 40%;
    margin: auto;
    size: 100px;
    font-size: 18px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 1em;
    text-transform: capitalize;
    transform: translateY(40%);
} 
.box form{
    border-radius: 1em;
    transform: translateY(-70%);
}
hr {
    border-top: 2px solid #000000;
    transform: translateY(-100%);
}


.box button{
    color: white;
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.box button:hover{
    background-color: rgb(69, 63, 110);
}

.box h1{
    color: black;
}
.box h6{
    transform: translateY(800%);
}
hr{
    border-top: 2px solid #c0bbb6;
}

.box h5{
    transform: translateY(-200%);
}

body{
    background: linear-gradient(270deg, #4c3b71, #6d8394, #282b75, #196f8c, #6e1963);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 33s ease infinite;
    -moz-animation: AnimationName 33s ease infinite;
    animation: AnimationName 33s ease infinite;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(300%);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}